<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
        <div>
            <mat-nav-list>
                <a mat-list-item (click)="onSinenavToggle()">
                    <mat-icon style="padding-right:5px;">bar_chart</mat-icon>
                    <span [@animateText]="linkText ? 'show' : 'hide'">HighCharts </span>
                </a>
            </mat-nav-list>
        </div>
    </div>

    <span class="spacer"></span>


</div>