.v-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.v-card-footer-content {
  padding: 0.5rem;
}

.v-matcard-content-whole {
  margin: 0.2rem;
}

.v-card-divider {
  margin-top: 0.5rem;
}

$c-red: red;
